//this is the profile picture styling

.avatar {
    //making the picture perfectly round even if the picture sent by the user is not a square
    border-radius: 50%;
    object-fit: cover;
    height: 60px;
    width: 60px;
    border: 0px solid $focus-color; //defining invisible border with $focus color so the transition doesn't start from black
    transition: 0.1s; //transition when avatar looses focus
    @include respond(mobileLandscape) {
        height: 50px;
        width: 50px;
    }
    &:focus {
        border: 5px solid $focus-color;
        transition: 0.1s; //lil transition on focus makes my heart happy :)
    }
}

.comments__comment {
    .avatar {
        height: 55px;
        width: 55px;
        @include respond(mobileLandscape) {
            height: 45px;
            width: 45px;
        }
    }
}
