// here is the style for all the inputs

input {
    //size of elements
    height: 30px;
    padding: 10px 20px;
    //removing default border
    border: none;
    //using neumorphic inner shadow and corners rounding
    @include card;
    font-size: 1em;

    &:focus {
        font-size: 1.1em;
    }
}

textarea {
    //size of elements
    padding: 10px 20px;
    //removing default border
    border: none;
    //using neumorphic inner shadow and corners rounding
    @include inner-shadow;
    @include card;

    &:focus {
        @include shadow;
    }
}