//Ici sont déclarées les varaibales utilisées sur le site

//couleur de fond
$background-color: #B9B7BD;

//couleur principale
$primary-color: #0E3D59;

//couleur du texte
$font-color: #000;

//couleur accentuation
$accent-color: #091f43;

//neumorphism highlight
$shadow-highlight: #ffffff;

//neumorphism shadow
$shadow-dark: #d1d9e6;

//disabled button
$disabled-color: #575757;

//focus background color
$focus-color: $shadow-dark;

//header height
$header-height: 80px;

//default font size
$font-default: 18px;

//smaller font size
$font-smaller: 16px;

//bigger font size
$font-bigger: 22px;

//admin delete button color
$admin-delete: #d12f39;

//admin approval button color
$admin-approve: #479d10;

//admin reported icon
$admin-reported: #e1541f;